 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                   <!--<p>I've been fascinated by maps and playing around with compters for as long as I can remember and I've been doing it for a living since 2010. I believe that maps and the Internet  can help us make sense of the huge volume of data out there and begin to understand the world around us.</p>-->
                   <p>I'm a consultant at <a href="http://www.forteconsulting.ca/">Forte Consulting</a>. Before that, I worked as a Geographic Information Systems (GIS) Developer at <a href="http://www.wspgroup.com/en/WSP-UK/" >WSP Group</a>, a multidisciplinary engineering company in the UK. I've also had a few stints as an outdoor instructor and educator.</p>
                   <p>More recently I worked on the design, development and data management of the <a href="http://joeburkinshaw.com/vicrecyclingmaps/" >Victoria Recycling Maps</a> project, with <a href="https://ca.linkedin.com/in/brucemackenzieca" >Bruce Mackenzie</a>.</p>
                   <p>I love the outdoors and spend my time exploring my surroundings by foot, mountain bike, skis and kayak. I like to map the places I've spent time getting to know by editing <a href="http://www.openstreetmap.org/#map=17/49.89158/-125.65236"  >OpenStreetMap</a>. Occasionally I map <a href="https://www.openstreetmap.org/changeset/30601841"  >places in need</a> of <a href="http://hotosm.org/" >humanitarian</a> relief that I have not visited.</p>
                   <p>I'm a firm believer in open data and open source software. I try to <a href="https://github.com/JBurkinshaw"  >contribute and utilize</a> it when I can. I stopped using Windows at home in 2010 in favour of Ubuntu and I've since made the leap over to Linux at work too.</p>
 	                 <p>My knowledge spans areas from geospatial web development, to data wrangling, spatial/relational databases and more "traditional" GIS, like map making and spatial analysis.</p>
                   <p>I have a <a href="http://www.ed.ac.uk/geosciences/postgraduate/taught-masters/geographical-information-science"  >Master of Science</a> (MSc) degree, with distinction, in GIS and a <a href="http://www.ed.ac.uk/studying/undergraduate/degrees?action=programme&code=FF68&cw_xml=index.php"  >Bachelor of Science</a> (BSc) degree in Geology and Physical Geography from the University of Edinburgh.</p>
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>-->
            </div>
        </div>
    </section>
